 @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  
    box-sizing: border-box;
  }
  header {
 
    width: 100%;
  
  }
  body {
background: linear-gradient(90deg, rgba(11,9,41,1) 0%, rgba(9,20,51,1) 39%, rgba(1,7,32,1) 100%);
  }
    

  a:hover {
    text-decoration: none!important;
  }
  .imagen{
  
    display:flex ;
    align-content: center;
  max-width: 35%;
  max-height: auto;
  filter: drop-shadow( 0px 0px 20px #0a1686 );
    /* filter: drop-shadow(0 0 0.75rem #0016a4);  */
    border-radius: 50%;
  
  }  .imagen:hover { 
  
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  
    }

   .animated-shadow {
    font-size: 3rem;
    margin-top: 2rem;
   padding: 1rem;
    color: #ffffff;
    left: 0;
    letter-spacing: 5px;
    text-transform: uppercase;
  
    animation: move linear 5000ms infinite;
  
  }
  
  @media (max-width:650px) {
    .animated-shadow {
    margin:0;
    font-size: 2rem;}
      .textoPrincipal{
        font-size: 2rem;
        margin-left: 23px;
      }
      .imagen{
        max-width: 50%;
      } 
      .sobre-mi {
        font-size:1rem;
      line-height: 2.5rem;
    
      } 
     
  }





 
::-webkit-scrollbar {
  display: none;
}
.seba {
  font-family: 'Press Start 2P', cursive;
}
.seccionproyecto {
  
  padding: 1rem;
  display:inline-block;
  align-content: center;
}


.iconRedes {
width: 8rem!important;
color: #13f1fc;
}
.flex {
  margin-top: 3rem;
  margin-bottom: 3rem;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.tituloProyectos{
text-align: center;
color: #eee;
margin: 2rem;
padding: 1rem;

}
.redesCV{

  display: inline-flex;
}
.certificaciones {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.5rem;
  color: #ccc;
  display: flex;
  flex-direction: column;

  align-content: space-around;
  align-items: center;
  padding: 2rem;
  margin: 1rem;

}


.mySlidesDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  align-items: center;

}

.botonCertificaciones {
  background-color: #0037a4;
  border-radius: 7px;
  color: white;
margin: 1rem;
width: 45px;
}

.contacto {
  display: flex;
  padding: 1rem;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.roboto 
{
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
}
.textoPrincipal {
  display: flex;
font-size: 3rem;

}
  .texto-principal {
   
    font-weight: 700;
    color: aliceblue!important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin:0;

  }
  .seccion-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  h1{
    font-size: 1rem;
  }
  .sobre-mi {
    padding-top: 1.5rem;
    font-family: 'Roboto', sans-serif;
    line-height: 2rem;
    display: flex;
    text-align: center;
    max-width: 750px;
    margin: 1rem;
    color: whitesmoke;

  }



 
.maquina {
    float: left;
    color: #fff;
    font-size: 2.5em;
  
  
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #0037a4, 0 -18px 40px #0037a4;;
}
.sobremi {  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
 .block {
display: flex;
flex-direction: column;

 }
  .imagenPrincipal {
    padding: 0.8rem;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;

}

 @media (max-width:550px) {
    
      .img2{
  padding: 3rem;

      }

    } 


  body {
  
  font-family: 'segoe ui';
  }

  h3 {
    color:aliceblue;
  }
  .margin {
    margin: 3rem;
  }
  h1 {
    color: aliceblue;
  }

  
/* /////////////////////////////  ACA ES LO DEL NAV ////////////////////////*/

  .nav {

    border-radius: 10px;
      background-color: #0037a4;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
/*     background-color: rgba(17, 25, 40, 0.25); */
  
  }
  
  .nav > .nav-header {
    
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    font-size: 4rem;
    font-family:'Permanent Marker', cursive;;
    display: inline-block;
    font-size: 22px;
    color: #f7ecec;
    padding: 10px 10px 10px 10px;
    text-decoration: none;  }
  
  .nav > .nav-btn {
    padding-right: 1rem;
    display: none;
  }
  
  .nav > .nav-links {
    
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    
    display: inline-block;
    justify-content: space-around;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    border-radius: 30px;
    height: 3rem;
    /* background:  rgba(137, 138, 140, 0.878) ;  */ 
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:650px) {
    .nav > .nav-btn {
      
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
   
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background: rgb(4, 49, 116);    
        border-radius: 30%;
    }
    .nav > .nav-btn > label > span {
         padding-right: 1rem;
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      
      font-family: 'Roboto', sans-serif;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;   
      height: 100vh;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
  background: #020022;/* ///color del nav */
    }
    .nav > .nav-links > a {
      font-size: 3rem;
      display: flex;
      align-items: center;
      align-content: space-around;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }


  /*/////////////////////////// ESTO ES DE LAS CARDS */

  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');


  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  

 
  

  
  img {
    border-radius: 5%;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn {
    color: #ffffff !important;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
   
  }
  
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
  
  .cards {
 
        row-gap: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  .cards_item {
    max-width:400px;
        border-radius: 5%;
    box-shadow: 10px 10px 10px 10px ;
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }

  .cardo { border-radius: 5%!important;
    justify-content: space-between;
    background-color:#0037a4;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    
  align-items:center ;
    border-color: #130f89;
    padding: 1rem;

    background-color:#0037a4;
  }
  
  .card_title { 
    text-align: center;
    
    font-family: 'Roboto', sans-serif;
    padding-bottom:1rem ;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
   

    
    text-align: center;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }



/*  /////////////////////////////////////// FOOTER */
.footer-basic {
   
   
    color:#e1e1e2;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:30px;
  }
  
  .footer-basic .social > a {

    font-size:24px;
    width:50px;
    height:50px;
    line-height:50px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #cccccc;
    margin:2rem 1remyy;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
 
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  

/*   ////////////////////////////////////SECCION SKILL */
.skills-section{
    padding-top: 20px;
    }
    
    .skills-header{
      align-items: center;
      justify-content:center ;
    text-align: center;
    color: #fff;
    padding: 1rem;
    
    }
    
    .skills-header:after{
    content: '';
   
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color:#0037a4   ;
        border-radius: 2px;
    } 
    
    .maxW{
      max-width: 4rem;
    }
    .skills-container{

    
    justify-content:center;
    align-items:flex-start;
    text-align: center;


    font-size: 1rem;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      justify-content: center; /* Centra horizontalmente */
      padding-left: 15rem;
      padding-right: 15rem;
      
    }
    
    @media (max-width: 650px) {
      .grid {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 2rem;
      padding-right: 2rem;
      }
    }

    .skills-box{
      display: flex;
      margin:2rem;
      flex-direction: column;
      align-items: center;
      align-content: center;
    color: #ffffff;
    cursor:pointer;
    }
  

 /*    .skills-box:hover .skills-img{
    transform: translateX(20px);
     */

    
    
    .skills-title{
        color: #ccc;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    
    }
    
 
    
    
    .skills-icons{
    width:45px;
  
    }
    
     .skills-img{
  
    height:70px;    
    border-radius: 25px;
    filter: drop-shadow( 0px 0px 20px #0a1686 );
    display:flex;
    justify-content:center;
    align-items:center;
   /*  transition: .5s; */
    }
    

 
   


/*  /////////////////////////////////////////formularioooooo */

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #ffffff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid rgb(6, 34, 193) ; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:rgb(0, 55, 164);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:rgb(246, 246, 247);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#130f89; }


/* /////////////////////////////////////////////aca es el boton */

.face-button {
  margin: 1rem;
  border-radius: 3rem;
  height: 64px;
  display: inline-block;
  border: 2px solid rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none!important;
  color: rgb(246, 247, 251) ;
  overflow: hidden;
}
.face-button .icon {
  margin-right: 6px;
}
.face-button .face-primary, .face-button .face-secondary {

  background-color:  rgb(13, 34, 153) ;
  color:  rgb(236, 237, 243) ;
  display: block;
  padding: 0 32px;
  line-height: 64px;
  transition: margin 0.4s;
}
.face-button .face-primary {
  text-decoration: none;
  background-color: rgb(0, 55, 164) ;
  color: #f2f1f7;
}
.face-button:hover .face-primary {
  margin-top: -64px;
}






/* ///////////////EFECTOS//// */





  /*Animación para rotar las sombras*/
  
  @keyframes move {
  
    0% {
  
      text-shadow:
  
       
  
        2px -2px 0 #da0641,
  
        1px -1px 0 #da0641,
  
        -4px 4px 0 #13f1fc,
  
        -3px 3px 0 #13f1fc,
  
        -2px 2px 0 #13f1fc,
  
        -1px 1px 0 #13f1fc
  
      ;
  
    }
  
    25% {
  
      text-shadow:
  
        -4px -4px 0 #13f1fc,
  
        -3px -3px 0 #13f1fc,
  
        -2px -2px 0 #13f1fc,
  
        -1px -1px 0 #13f1fc,
  
        4px 4px 0 #da0641,
  
        3px 3px 0 #da0641,
  
    
  
      ;
  
    }
  
    50% {
  
      text-shadow:
  
       
  
        -2px 2px 0 #da0641,
  
        -1px 1px 0 #da0641,
  
        4px -4px 0 #13f1fc,
  
        3px -3px 0 #13f1fc,
  
        2px -2px 0 #13f1fc,
  
        1px -1px 0 #13f1fc

      ;

    }
 
    75% {

      text-shadow:

        4px 4px 0 #13f1fc,

        3px 3px 0 #13f1fc,
 
        2px 2px 0 #13f1fc,

        1px 1px 0 #13f1fc,

        -4px -4px 0 #da0641,
 
        -3px -3px 0 #da0641,
  
      ;
  
    }
  
    100% {
  
      text-shadow:
  

        2px -2px 0 #da0641,
  
        1px -1px 0 #da0641,
  
        -4px 4px 0 #13f1fc,
  
        -3px 3px 0 #13f1fc,

        -2px 2px 0 #13f1fc,

        -1px 1px 0 #13f1fc

      ;

    }
 
  }
  




  



/* ///////////////////////////////////imagennnnnnn */



.logo5 {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
 }
.logo5:hover {
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
 }




.ampliar{


    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 2s, height 2s, transform 1s;
}
.ampliar:hover{
    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño con scale(2). */
    transform : scale(1.1);}
  .neon {
    text-decoration: none;
    width: 7rem;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #d3d3d3, 0 0 25px #faf4f9;
    -webkit-text-fill-color: #F4ECFF;
    -webkit-text-stroke-color:#f3f1f4;
    -webkit-text-stroke-width:0.2px; 
  }
  .a2{
    display: block;
    color:whitesmoke ;
    font-size: 2rem;
  }
  .a2:hover{
    color: #0037a4;
  } 











